.container{
    width: 100%;

    display: flex;
    justify-content: center;
}
.todosContainer{
    width: 700px;
    margin-top: 30px;
    background: white;
    padding: 20px 20px;
    box-shadow: 0 0 5px black;
    margin-bottom: 30px;

}
.todoHeading{
    text-align: center;
    margin-top: 10px;
}

.inputBox{
    display: flex;

}
.addBtn{
    margin-left: 10px;
    border-radius: 12px;
    padding: 8px;
    border: none;
    outline: none;
    background-color:rgb(103, 154, 248) ;
    cursor: pointer;
    color: white;
}
.inputField{
    width: 100%;
    border: 0.8px solid rgb(208, 153, 0);
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
}
.inputField:focus:hover{
    border: 2px solid rgb(208, 153, 0);
}


.todoBox{
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
    background-color:rgba(129, 164, 230, 0.185) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: popup 0.7s ease-out;
}

.todoBox:hover{
    background-color:rgba(129, 164, 230, 0.459) ;
}
.checkBox{
    margin-right: 4px;
}
.todoText{
    font-size: 18px;
    font-weight: bold;
}
.editIcon{
    font-size: 21px;
    margin-right: 5px;
    animation:iconAnimation infinite 1s;
}
.editIcon,.closeIcon{
    cursor: pointer;
}

.buttonPopupNow{
    animation: buttonPopup 1.4s infinite;
}

@keyframes popup{
    0%{
        background-color: rgb(251, 251, 251);
    }
    100%{
        background-color: rgb(77, 250, 50);
    }
}

@keyframes buttonPopup{
    0%{
        background-color: rgb(226, 220, 255);
    }
    100%{
        background-color: rgb(44, 2, 254);
    }
}

@keyframes iconAnimation{
    0%{
        font-size: 21px;
    }
    50%{
        font-size: 23px;
    }
    100%{
        font-size: 21px;
    }
}

